[submodule "TrackNetv4"]
	path = TrackNetv4
	url = git@github.com:Nagabhushanam2005/TrackNetv4.git
[submodule "inference/src/court-detector-cpp"]
	path = inference/src/court-detector-cpp
	url = git@github.com:Nagabhushanam2005/court-detector-cpp.git
